@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/themes/uarm/css/page.css") 
    @Styles.Render("~/Content/themes/uarm/css/error.css")    
}
<header>
    <div class="container">
        <h2>Error</h2>
        <h3 class="error">A ocurrido un error mientras se procesaba su petición.</h3>
    </div>
</header>
    <div class="container error-details">
        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div style="overflow:scroll">
                    <pre>
    @Model.Exception.StackTrace
                    </pre>
                </div>
            </div>
        }
    </div>
