@using NubeBooks.Core.DTO
@model ComprobanteDTO
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/theme.css")
}
@section Scripts{
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.min.js")
    <script type="text/javascript">
        @{
            var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
            var userInfoJson = jss.Serialize(ViewBag.Categorias);
            var userInfoJson2 = jss.Serialize(ViewBag.Proyectos);
        }
        var mydata = JSON.parse('@Html.Raw(userInfoJson)');
        var lstProyectos = JSON.parse('@Html.Raw(userInfoJson2)');

        var jUserExt = '@ViewBag.EsUsuarioExterno';

        $(function () {
            $('.miselect2').select2();

            $('#IdCategoria').select2({
                placeholder: "Seleccione una categoría",
                data: mydata,
                allowClear: true
            })

            $('#IdProyecto').select2({ data: lstProyectos })

            $("#add-monto").click(function () {
                var existe = false;
                debugger;
                //var AreaSel = $('#IdAreaX :selected');
                var valorArea = $('#IdAreaX :selected').val();
                if (valorArea > 0) {
                    var txtArea = $('#IdAreaX :selected').text();
                    //var txtMonto = parseFloat($('#MontoSinIGVX').val()).toFixed(2);
                    var txtMonto = parseFloat($('#MontoX').val());
                    $('#lstMontos option').each(function () {
                        if ($(this).val() == valorArea) existe = true;
                    });
                    if (!existe) {
                        $('#lstMontos').append($('<option>', {
                            value: valorArea,
                            text: txtArea + ' - ' + txtMonto
                        }).attr('data-monto', txtMonto));

                        $('#IdAreaX').select2("val", 0);
                        $('#MontoX').val("");
                        $('#MontoSinIGVX').val("");
                        ActualizarMontos();
                    } else {
                        alert("No se puede agregar el área " + txtArea + ", porque ya se encuentra agregado.");
                    }
                } else {
                    alert("Por favor, seleccione otra área válido.");
                }
            });
            $("#remove-monto").click(function () {
                var val = $('#lstMontos :selected').val();
                var text = $('#lstMontos :selected').text();

                $('#lstMontos :selected').remove();
                $('#MontoSinIGVX').val("");
                $('#MontoX').val("");
                ActualizarMontos();
            });

            BloquearTDocumentos();

            ListarProyectos(0);

            $('.rol-accs').each(function () {
                if (jUserExt == 'True') $(this).prop('disabled', true);
            });
        });

        function CheckNumericValue(e) {
            var key = e.which ? e.which : e.keyCode;
            //enter key  //backspace //tabkey      //escape key
            if ((key >= 48 && key <= 57) || key == 13 || key == 8 || key == 9 || key == 27 || key == 46) {
                return true;
            }
            else {
                alert("Solo ingresar caracteres numericos");
                return false;
            }
        }

        function ActualizarMontoSinIGV() {
            var montoSinIGV = 0;
            /*var numTipoDoc = $('#IdTipoDocumento').select2("val");
            if (numTipoDoc != 3 && numTipoDoc != 4 && numTipoDoc != 7)
            { montoSinIGV = ($('#Monto').val() / 1.18).toFixed(2); }
            else
            { montoSinIGV = ($('#Monto').val() / 1).toFixed(2); }*/

            //var chkIGV = ;
            if($('#chkIGV').is(':checked'))
            {montoSinIGV = ($('#Monto').val() / 1.18);}
            else
            { montoSinIGV = ($('#Monto').val() / 1); }

            $('#MontoSinIGV').val(montoSinIGV);
        }

        function ActualizarMontoConIGV() {
            var montoConIGV = 0;
            /*var numTipoDoc = $('#IdTipoDocumento').select2("val");
            if (numTipoDoc != 3 && numTipoDoc != 4 && numTipoDoc != 7)
            { montoConIGV = ($('#MontoSinIGV').val() * 1.18).toFixed(2); }
            else
            { montoConIGV = ($('#MontoSinIGV').val() / 1).toFixed(2); }*/
            if($('#chkIGV').is(':checked'))
            { montoConIGV = ($('#MontoSinIGV').val() * 1.18); }
            else
            { montoConIGV = ($('#MontoSinIGV').val() / 1); }

            $('#Monto').val(montoConIGV);
        }

        function ActualizarMontoSinIGV_X() {
            var montoSinIGV = 0;

            montoSinIGV = ($('#MontoX').val() / 1.18);

            $('#MontoSinIGVX').val(montoSinIGV);
        }

        function ActualizarMontoConIGV_X() {
            var montoConIGV = 0;
            
            montoConIGV = ($('#MontoSinIGVX').val() * 1.18);

            $('#MontoX').val(montoConIGV);
        }

        function BloquearTDocumentos()
        {
            if(@Model.IdTipoComprobante == 1)
            {
                //Bloqueo de Staff
                $("#IdTipoDocumento option[value='4']").attr('disabled', true);
                //Bloqueo de Ordenes de Compra
                $("#IdTipoDocumento option[value='10']").attr('disabled', true);
            }
            else
            {
                //Bloquear Proforma
                $("#IdTipoDocumento option[value='9']").attr('disabled', true);
            }
        }

        function ActualizarMontos()
        {
            var suma = 0;
            $('#lstMontos option').each(function(){
                suma += parseFloat($(this).data("monto"));
            })
            $('#Monto').val(suma);
            ActualizarMontoSinIGV();
        }

        function ListaMontosAreas()
        {
            var lista = [];
            $('#lstMontos option').each(function () {
                var elem = {
                    IdArea: $(this).val(),
                    Monto: $(this).data("monto")
                };
                lista.push(elem);
            });

            lista = JSON.stringify({'lista': lista});

            $.ajax({
                type: 'POST',
                url: '/Admin/PasslstAreasXMontos',
                data: lista,
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    return true;
                },
                error: function(xhr, status, error) {
                    return false;
                }
            });
        }

        function ListarProyectos(cambio) {
            if ($('#IdEntidadResponsable').val() != 0)
            {
                var idEntidad = parseInt($('#IdEntidadResponsable').val());
                if(cambio == 1)
                {
                    $('#IdProyecto').select2("val", "");
                }

                GetProyectosAjax(idEntidad);
                $('#IdProyecto').select2({
                    data: lstProyectos
                })
            }
        }

        function GetProyectosAjax(idEntidad)
        {
            $.ajax({
                type: "POST",
                url: "/Admin/GetProyectos",
                async: false,
                cache: false,
                data: { idEntidad: idEntidad },
                dataType: 'json',
                success: function (data) {
                    lstProyectos = data.listaProyectos;
                }
            });
        }
    </script>
}
@{
    string titulo = "", strTitulo = "", strFechaIni = "", strEntidad = "", strFechaFin = "";
    if (Model != null)
    {
        switch (Model.IdTipoComprobante)
        {
            case 1:
                strTitulo = "Ingreso";
                strFechaIni = "Fecha Facturación";
                strEntidad = "Cliente";
                strFechaFin = "Cobranza";
                break;
            case 2:
                strTitulo = "Egreso";
                strFechaIni = "Fecha Documento";
                strEntidad = "Proveedor";
                strFechaFin = "Pago";
                break;
            case 3:
                strTitulo = "Ingreso Anulado";
                strFechaIni = "Fecha";
                strEntidad = "Entidad";
                strFechaFin = "Vencimiento";
                break;
            case 4:
                strTitulo = "Egreso Anulado";
                strFechaIni = "Fecha";
                strEntidad = "Entidad";
                strFechaFin = "Vencimiento";
                break;
        }
    }
    titulo = ((Model == null || Model.IdComprobante == 0) ? "Nuevo" : "Actualizar") + " Comprobante - " + strTitulo;
}

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@titulo</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("AddComprobante", "Admin", FormMethod.Post))
            {
                @Html.Partial("_showAlertMessages")
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">@strFechaIni</label>
                            <div class="input-group">
                                @Html.TextBoxFor(u => u.FechaEmision, "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control rol-accs", @placeholder = "Fecha", @type = "text", @data_provide = "datepicker", @readonly = "true" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                @Html.ValidationMessageFor(u => u.FechaEmision)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tipo de Documento</label>
                            @Html.DropDownListFor(u => u.IdTipoDocumento, new SelectList(ViewBag.lstTipoDocumento, "IdTipoDocumento", "Nombre", Model != null ? (Model.IdTipoDocumento != 0 ? Model.IdTipoDocumento : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs", @onchange = "ActualizarMontoConIGV()" })
                            @Html.ValidationMessageFor(u => u.IdTipoDocumento)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Número de Documento</label>
                            @Html.TextBoxFor(u => u.NroDocumento, new { @class = "form-control rol-accs", @placeholder = "Documento", @type = "text" })
                            @Html.ValidationMessageFor(u => u.NroDocumento)
                        </div>
                        <div class="col-md-3">
                            <label>Fecha de @strFechaFin</label>
                            <div class="input-group">
                                @Html.TextBoxFor(u => u.FechaConclusion, "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control rol-accs", @placeholder = "Fecha de cancelación", @type = "text", @data_provide = "datepicker", @readonly = "true" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                @Html.ValidationMessageFor(u => u.FechaConclusion)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @{var columnas = 3; if (Model.IdTipoComprobante != 1 && Model.IdTipoComprobante != 3) { columnas = 3; }}
                        <div class="col-md-@columnas">
                            <label class="control-label">@strEntidad</label>
                            @Html.DropDownListFor(u => u.IdEntidadResponsable, new SelectList(Model.IdTipoComprobante == 1 ? ViewBag.lstClientes : ViewBag.lstProveedores, "IdEntidadResponsable", "Nombre", Model != null ? (Model.IdEntidadResponsable != 0 ? Model.IdEntidadResponsable : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs", @onchange = "ListarProyectos(1)" })
                            @Html.ValidationMessageFor(u => u.IdEntidadResponsable)
                        </div>
                        @if (Model.IdTipoComprobante == 1 || Model.IdTipoComprobante == 3)
                        {
                            <div class="col-md-3">
                                <label class="control-label">Proyecto</label>
                                @Html.TextBoxFor(u => u.IdProyecto, new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder rol-accs" })
                                @Html.ValidationMessageFor(u => u.IdProyecto)
                            </div>
                            <div class="col-md-3">
                                <label>Consultor</label>
                                @Html.DropDownListFor(u => u.IdResponsable, new SelectList(ViewBag.lstResponsables, "IdResponsable", "Nombre", Model != null ? (Model.IdResponsable != null ? Model.IdResponsable : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                                @Html.ValidationMessageFor(u => u.IdResponsable)
                            </div>
                        }
                        <div class="col-md-3">
                            <label class="control-label">Partida de Presupuesto</label>
                            @Html.TextBoxFor(u => u.IdCategoria, new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder rol-accs" })
                            @Html.ValidationMessageFor(u => u.IdCategoria)
                        </div>
                        @if (Model.IdTipoComprobante == 2 || Model.IdTipoComprobante == 4)
                        {
                            <div class="col-md-3">
                                <label class="control-label">Moneda</label>
                                @Html.DropDownListFor(u => u.IdMoneda, new SelectList(ViewBag.lstMonedas, "IdMoneda", "Nombre", Model != null ? (Model.IdMoneda != 0 ? Model.IdMoneda : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                                @Html.ValidationMessageFor(u => u.IdMoneda)
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Tipo de Cambio</label>
                                @Html.TextBoxFor(u => u.TipoCambio, "{0:0.00}", new { @class = "form-control rol-accs", @placeholder = "Tipo de Cambio", @type = "text", @onkeypress = "return CheckNumericValue(event)" })
                                @Html.ValidationMessageFor(u => u.TipoCambio)
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @if (Model.IdTipoComprobante == 1 || Model.IdTipoComprobante == 3)
                        {
                            <div class="col-md-3">
                                <label class="control-label">Moneda</label>
                                @Html.DropDownListFor(u => u.IdMoneda, new SelectList(ViewBag.lstMonedas, "IdMoneda", "Nombre", Model != null ? (Model.IdMoneda != 0 ? Model.IdMoneda : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                                @Html.ValidationMessageFor(u => u.IdMoneda)
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Tipo de Cambio</label>
                                @Html.TextBoxFor(u => u.TipoCambio, "{0:0.00}", new { @class = "form-control rol-accs", @placeholder = "Tipo de Cambio", @type = "text", @onkeypress = "return CheckNumericValue(event)" })
                                @Html.ValidationMessageFor(u => u.TipoCambio)
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Modalidad de Pago</label>
                                @Html.DropDownListFor(u => u.IdHonorario, new SelectList(ViewBag.lstHonorarios, "IdHonorario", "Nombre", Model != null ? (Model.IdHonorario != null ? Model.IdHonorario : 1) : 1), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                                @Html.ValidationMessageFor(u => u.IdHonorario)
                            </div>
                        }
                        <div class="col-md-3">
                            <label class="control-label">Área</label>
                            @Html.DropDownListFor(u => u.IdArea, new SelectList(ViewBag.lstAreas, "IdArea", "Nombre", Model != null ? (Model.IdArea != null ? Model.IdArea : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                            @Html.ValidationMessageFor(u => u.IdArea)
                            <div class="text-left">
                                <a class="text-info" onclick="$('#Area_X_Monto').show();$('#IdArea').select2('val', 0);$('#IdArea').prop('disabled', true);">¿Desea ingresar más de un área?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Monto (sin IGV)</label>
                            @Html.TextBoxFor(u => u.MontoSinIGV, "{0:#.00}", new { @class = "form-control rol-accs", @placeholder = "Monto Sin IGV", @type = "text", @onkeypress = "return CheckNumericValue(event)", @onkeyup = "ActualizarMontoConIGV()" })
                            @Html.ValidationMessageFor(u => u.MontoSinIGV)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Monto Total</label>
                            @Html.TextBoxFor(u => u.Monto, "{0:#.00}", new { @class = "form-control rol-accs", @placeholder = "Ingrese el monto", @type = "text", @onkeypress = "return CheckNumericValue(event)", @onkeyup = "ActualizarMontoSinIGV()" })
                            @Html.ValidationMessageFor(u => u.Monto)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Afecto al IGV</label>
                            <div>
                                <label class="i-switch m-t-xs m-r">
                                    <input id="chkIGV" type="checkbox" checked="" onchange="ActualizarMontoConIGV()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="Area_X_Monto" hidden>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Área</label>
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(u => u.IdArea, new SelectList(ViewBag.lstAreas, "IdArea", "Nombre", Model != null ? (Model.IdArea != null ? Model.IdArea : 0) : 0), new { @id = "IdAreaX", @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })*@
                                        @Html.DropDownList("IdAreaX", new SelectList(ViewBag.lstAreas, "IdArea", "Nombre"), new { @id = "IdAreaX", @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Monto (sin IGV)</label>
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(u => u.MontoSinIGV, "{0:#.00}", new { @id = "MontoSinIGVX", @class = "form-control rol-accs", @placeholder = "Monto Sin IGV", @type = "text", @onkeypress = "return CheckNumericValue(event)", @onkeyup = "ActualizarMontoConIGV_X()" })*@
                                        <input id="MontoSinIGVX" type="text" class="form-control rol-accs" placeholder="0.00" onkeypress="return CheckNumericValue(event)" onkeyup="ActualizarMontoConIGV_X()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Monto Total</label>
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(u => u.Monto, "{0:#.00}", new { @id = "MontoX", @class = "form-control rol-accs", @placeholder = "Ingrese el monto", @type = "text", @onkeypress = "return CheckNumericValue(event)", @onkeyup = "ActualizarMontoSinIGV_X()" })*@
                                        <input id="MontoX" type="text" class="form-control rol-accs" placeholder="0.00" onkeypress="return CheckNumericValue(event)" onkeyup="ActualizarMontoSinIGV_X()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="text-right">
                                        <button type="button" class="btn m-b-xs btn-sm btn-default btn-addon rol-accs" id="add-monto">
                                            <i class="fa fa-plus"></i>Agregar
                                        </button>
                                        @*<button type="button" class="btn btn-dark btn-sm btn-icon btn-rounded rol-accs" id="add-monto" data-toggle="tooltip" data-placement="right" title="" data-original-title="Agregar Área por Monto">
                                            <i class="fa fa-plus"></i>
                                        </button>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <select name="@Html.NameFor(u => u.lstMontos)" id="@Html.IdFor(u => u.lstMontos)" name="@Html.NameFor(u => u.lstMontos)" multiple="multiple" class="form-control rol-accs">
                                    @{List<AreaPorComprobanteDTO> listaMontos = ViewBag.Montos ?? new List<AreaPorComprobanteDTO>(); }
                                    @foreach (var item in listaMontos)
                                    {
                                        <option value="@item.IdArea" data-monto="@item.Monto">@(item.NombreArea + " - " + item.Monto.ToString("#.00"))</option>
                                    }
                                </select>

                            </div>
                            <div class="form-group">
                                <button type="button" class="btn m-b-xs btn-sm btn-default btn-addon rol-accs" id="remove-monto">
                                    <i class="fa fa-minus"></i>Remover
                                </button>
                                @*<button type="button" class="btn btn-dark btn-sm btn-icon btn-rounded rol-accs" id="remove-monto" data-toggle="tooltip" data-placement="right" title="" data-original-title="Quitar Área por Monto">
                                    <i class="fa fa-minus-circle"></i>
                                </button>*@
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        <a class="text-info" onclick="$('#Area_X_Monto').hide();$('#IdArea').select2('val', 0);$('#IdArea').prop('disabled', false);">¿Desea ingresar sólo un área?</a>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Comentarios Adicionales</label>
                            @*<textarea class="form-control" cols="20" id="comentario" name="comentario" rows="3" style="resize: none;" type="text"></textarea>*@
                            @Html.TextAreaFor(u => u.Comentario, new { @class = "form-control rol-accs", @placeholder = "Comentario", @type = "text", @rows = "3", @style = "resize: none;" })
                            @Html.ValidationMessageFor(u => u.Comentario)
                        </div>
                    </div>
                </div>
                @Html.TextBoxFor(u => u.Estado, new { @value = true, @type = "hidden" })
                @Html.TextBoxFor(u => u.IdEmpresa, new { @value = Model.IdEmpresa, @type = "hidden" })
                @Html.TextBoxFor(u => u.IdTipoComprobante, new { @value = Model.IdTipoComprobante != 0 ? Model.IdTipoComprobante.ToString() : "", @type = "hidden" })
                @Html.TextBoxFor(u => u.IdComprobante, new { @value = Model.IdComprobante != 0 ? Model.IdComprobante.ToString() : "", @type = "hidden" })
                @Html.TextBoxFor(u => u.UsuarioCreacion, new { @value = Model != null ? Model.UsuarioCreacion.ToString() : "", @type = "hidden" })
                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            @{var btnName = (Model != null && Model.IdComprobante > 0) ? "Guardar Cambios" : "Crear";}
                            @if (!ViewBag.EsUsuarioExterno && Model.IdTipoComprobante < 3)
                            {<button type="submit" class="btn btn-success" onclick="return ListaMontosAreas();">@btnName</button>}
                            @{string tipo = (Model.IdTipoComprobante == 1) ? "Ingreso" : (Model.IdTipoComprobante == 2) ? "Egreso" : "Anulados"; }
                            <a class="btn btn-default" href="@Url.Action("Comprobantes" + tipo, "Admin")">Cancelar</a>
                        </div>
                    </div>
                </div>
                                                        }
        </div>
    </div>
</div>
