@using NubeBooks.Core.Logistics.DTO
@model ItemDTO
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/theme.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.min.js")
    <script type="text/javascript">
        var jUserExt = '@ViewBag.EsUsuarioExterno';
        $(function () {
            $('.miselect2').select2();

            $('.rol-accs').each(function () {
                if (jUserExt == 'True') $(this).prop('disabled', true);
            });
        });
    </script>
}

@{var cadena = "";}
@if (Model == null || Model.IdItem == 0) { cadena = "Nuevo"; }
else { cadena = "Actualizar"; }
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@cadena Item</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("AddItem", "Admin", FormMethod.Post))
            {
                @Html.Partial("_showAlertMessages")
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            @Html.TextBoxFor(u => u.Nombre, new { @class = "form-control", @placeholder = "Nombre", @type = "text", autofocus = "" })
                            @Html.ValidationMessageFor(u => u.Nombre, "", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-6">
                            <label>Código</label>
                            @Html.TextBoxFor(u => u.Codigo, new { @class = "form-control", @placeholder = "Código", @type = "text" })
                            @Html.ValidationMessageFor(u => u.Codigo, "", new { @style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Descripción</label>
                            @Html.TextBoxFor(u => u.Descripcion, new { @class = "form-control", @placeholder = "Descripción", @type = "text" })
                            @Html.ValidationMessageFor(u => u.Descripcion, "", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-3">
                            <label>Unidad de Medida</label>
                            @Html.TextBoxFor(u => u.UnidadMedida, new { @class = "form-control", @placeholder = "U. Medida", @type = "text" })
                            @Html.ValidationMessageFor(u => u.UnidadMedida, "", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-3">
                            <label>Categoría</label>
                            @Html.DropDownListFor(u => u.IdCategoriaItm, new SelectList(ViewBag.lstCategoriaItm, "IdCategoriaItm", "Nombre", Model != null ? (Model.IdCategoriaItm != 0 ? Model.IdCategoriaItm : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs"})
                            @Html.ValidationMessageFor(u => u.IdCategoriaItm, "", new { @style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    @Html.TextBoxFor(u => u.IdItem, new { @value = Model.IdItem != 0 ? Model.IdItem.ToString() : "", @type = "hidden" })
                    @Html.TextBoxFor(u => u.IdEmpresa, new { @value = Model.IdEmpresa, @type = "hidden" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @{var btnName = (Model != null && Model.IdItem > 0) ? "Guardar Cambios" : "Crear";}
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-success">@btnName</button>
                            <a class="btn btn-default" href="@Url.Action("Items", "Admin")">Cancelar</a>
                        </div>
                    </div>
                </div>
                            }
        </div>
    </div>
</div>
