@using NubeBooks.Core.Logistics.DTO
@using NubeBooks.Core.DTO
@model MovimientoInvDTO
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/theme.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.min.js")
    <script type="text/javascript">
        @{
            var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
            var infoLotes = jss.Serialize(ViewBag.lstLotes);
            var infoUbicaciones = jss.Serialize(ViewBag.lstUbicaciones);
         }
        var jsLstLotes = JSON.parse('@Html.Raw(infoLotes)');
        var jsLstUbicaciones = JSON.parse('@Html.Raw(infoUbicaciones)');

        var jUserExt = '@ViewBag.EsUsuarioExterno';
        var miBaseUrl = '';
        $(function () {
            miBaseUrl = baseURL(window.location.pathname);
            $('.input-group.date').datepicker();
            $('.miselect2').select2();
            $('.miselect2_clear').select2({
                allowClear: true,
                placeholder: "Seleccionar"
            });
            if ('@Model.IdTipoMovimientoInv' == 2)
            {
                var auxLotes = []; //Lotes
                $.each(jsLstLotes, function (index, item) {
                    auxLotes.push({
                        'id': item.text,
                        'text': item.text,
                    });
                });
                $('#SerieLote').select2({ data: auxLotes });

                var auxUbicaciones = []; //Ubicaciones
                $.each(jsLstUbicaciones, function (index, item) {
                    auxUbicaciones.push({
                        'id': item.IdUbicacion,
                        'text': item.Nombre,
                    });
                });
                $('#IdUbicacion').select2({ data: auxUbicaciones });

                //GetUbicacion();
            }

            GetUnidadMedida($('#IdItem').val());
            

            $('.rol-accs').each(function () {
                if (jUserExt == 'True') $(this).prop('disabled', true);
            });
        });

        $('#IdItem').on("change", function (e) {
            var idItem = e.val;
            GetUnidadMedida(idItem);
        });

        function GetUnidadMedida(idItem) {
            $.ajax({
                type: "POST",
                url: miBaseUrl + "/GetUnidadDeMedidaEnItem",
                cache: false,
                data: { idItem: idItem },
                dataType: 'text',
                success: function (response) {
                    $('#UnidadMedida').val(response);
                }
            });
        }

        function GetUbicacion()
        {
            //debugger;
            var jsTipoMovInv = '@Model.IdTipoMovimientoInv';
            if(jsTipoMovInv == 2 && $('#IdUbicacion').val() != '' && $('#IdUbicacion').val() > 0)
            {
                ActualizarUbicaciones();
            }
            else if (jsTipoMovInv == 2)
            {
                //$('#IdUbicacion').select2({ data: mydata });
                $('#IdUbicacion').select2("val", "");
            }
        }

        function CheckNumericValue(e) {
            var key = e.which ? e.which : e.keyCode;
            //enter key  //backspace //tabkey      //escape key
            if ((key >= 48 && key <= 57) || key == 13 || key == 8 || key == 9 || key == 27 || key == 46) {
                return true;
            }
            else {
                alert("Solo ingresar caracteres numericos");
                return false;
            }
        }

        function ActualizarLotes()
        {
            var jsTipoMov = '@Model.IdTipoMovimientoInv';
            if(jsTipoMov == 2)
            {
                $('#SerieLote').select2("val", "");
                $('#IdUbicacion').select2("val", "");

                var jsIdItem = $('#IdItem').select2("val");

                $.ajax({
                    type: "POST",
                    url: miBaseUrl + "/GetLotes_EnItem",
                    cache: false,
                    data: { idItem: jsIdItem },
                    dataType: 'json',
                    delay: 750,
                    success: function (data) {
                        var pLotes = [];
                        $.each(data.lista, function (index, item) {
                            pLotes.push({
                                'id': item.text,
                                'text': item.text,
                            });
                        });
                        $('#SerieLote').select2({
                            data: pLotes
                        })
                    }
                });
            }

        }

        function ActualizarUbicaciones()
        {
            var jsTipoMov = '@Model.IdTipoMovimientoInv';

            if (jsTipoMov == 2)
            {
                $('#IdUbicacion').select2("val", "")

                var jsSerieLote = $('#SerieLote').select2("val");
                if (jsSerieLote != "")
                {
                    $.ajax({
                        type: "POST",
                        url: miBaseUrl + "/GetUbicaciones_EnLote",
                        cache: false,
                        data: { serieLote: jsSerieLote },
                        dataType: 'json',
                        delay: 750,
                        success: function (data) {
                            var pUbicaciones = [];
                            $.each(data.lista, function (index, item) {
                                pUbicaciones.push({
                                    'id': item.IdUbicacion,
                                    'text': item.Nombre,
                                    'data': item
                                });
                            });
                            $('#IdUbicacion').select2({
                                data: pUbicaciones
                            })
                        }
                    });
                }
            };
        }
    </script>
}

@{var cadena = "";
    var tipoMovimiento = (Model.IdTipoMovimientoInv == 1) ? "Ingreso" : "Egreso";}
@if (Model == null || Model.IdItem == 0) { cadena = "Nuevo"; }
else { cadena = "Actualizar"; }
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">@cadena Movimiento de Inventario - @tipoMovimiento</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("AddMovimientoInv", "Admin", FormMethod.Post))
            {
                @Html.Partial("_showAlertMessages")
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Fecha</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(u => u.FechaInicial, "{0:dd/MM/yyyy}", new { @class = "form-control rol-accs", @placeholder = "Fecha", @type = "text", @readonly = "true" })
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                @Html.ValidationMessageFor(u => u.FechaInicial, "", new { @style = "color:red;" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Movimiento - Tipo</label>
                            @*@Html.DropDownListFor(u => u.IdFormaMovimientoInv, new SelectList(ViewBag.lstFormaMovimiento, "IdFormaMovimientoInv", "Nombre", "nTipoMovimientoInv", Model != null ? (Model.IdFormaMovimientoInv != 0 ? Model.IdFormaMovimientoInv : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs", autofocus = "" })*@
                            <select class="col-xs-12 col-sm-12 col-md-12 no-padder miselect2_clear rol-accs"
                                    id="IdFormaMovimientoInv" name="IdFormaMovimientoInv" autofocus required>
                                @{ var pFormaMov = Model != null ? Model.IdFormaMovimientoInv : 0;}
                                <option value=""></option>
                                @foreach (var tipoMov in (List<TipoMovimientoInvDTO>)ViewBag.lstTipoMovimientoInv)
                                {
                                    <optgroup label="@tipoMov.Nombre">
                                        @foreach (var item in (List<FormaMovimientoInvDTO>)ViewBag.lstFormaMovimiento)
                                        {
                                            if (tipoMov.IdTipoMovimientoInv == item.IdTipoMovimientoInv)
                                            {
                                                <option value="@item.IdFormaMovimientoInv" @(item.IdFormaMovimientoInv == pFormaMov ? "selected=selected" : "")>@item.Nombre</option>}
                                        }
                                    </optgroup>
                                }
                            </select>
                            @Html.ValidationMessageFor(u => u.IdFormaMovimientoInv, "", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-4">
                            <label>Nro. Documento</label>
                            @Html.TextBoxFor(u => u.NroDocumento, new { @class = "form-control", @placeholder = "Documento", @type = "text", @required = "" })
                            @Html.ValidationMessageFor(u => u.NroDocumento, "", new { @style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Código - Item</label>
                            @*@Html.DropDownListFor(u => u.IdItem, new SelectList(ViewBag.lstItems, "IdItem", "Codigo", Model != null ? (Model.IdItem != 0 ? Model.IdItem : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder codigo miselect2" })*@
                            <select class="col-xs-12 col-sm-12 col-md-12 no-padder codigo miselect2_clear rol-accs"
                                    id="IdItem" name="IdItem" onchange="ActualizarLotes()" required>
                                @{ var pItem = Model != null ? Model.IdItem : 0;}
                                <option value=""></option>
                                @foreach (var nItem in (List<ItemDTO>)ViewBag.lstItems)
                                {
                                    <option value="@nItem.IdItem" @(nItem.IdItem == pItem ? "selected=selected" : "")>@nItem.Codigo</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(u => u.IdItem, "", new { @style = "color:red;" })
                        </div>
                        @if (Model.IdTipoMovimientoInv == 1)
                        {
                            <div class="col-md-4">
                                <label>Guía de Remisión</label>
                                @Html.TextBoxFor(u => u.GuiaRemision, new { @class = "form-control", @placeholder = "Guía de Remisión", @type = "text" })
                                @Html.ValidationMessageFor(u => u.GuiaRemision, "", new { @style = "color:red;" })
                            </div>
                        }
                        <div class="col-md-4">
                            <label>Serie - Lote</label>
                            @if (Model.IdTipoMovimientoInv == 1)
                            {
                                @Html.TextBoxFor(u => u.SerieLote, new { @class = "form-control rol-accs", @placeholder = "Serie / Lote", @type = "text", @required = "" })
                            }
                            else
                            {
                                @Html.TextBoxFor(u => u.SerieLote, new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder rol-accs", @type = "text", @required = "", @onchange = "ActualizarUbicaciones()" })
                            }
                            @Html.ValidationMessageFor(u => u.SerieLote, "", new { @style = "color:red;" })
                        </div>
                        @if (Model.IdTipoMovimientoInv != 1)
                        {
                            <div class="col-md-4">
                                <label>Ubicación</label>
                                @Html.TextBoxFor(u => u.IdUbicacion, new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder rol-accs" })

                                @*<select class="col-xs-12 col-sm-12 col-md-12 no-padder miselect2_clear rol-accs"
                                        id="IdUbicacion" name="IdUbicacion">
                                    @{ var pUbicacion = Model != null ? Model.IdUbicacion : 0; }
                                    <option value=""></option>
                                    @foreach (var ubi in (List<UbicacionDTO>)ViewBag.lstUbicaciones)
                                    {
                                        <option value="@ubi.IdUbicacion" @(ubi.IdUbicacion == pUbicacion ? "selected=selected" : "")>@ubi.Nombre</option>
                                    }
                                </select>*@
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Cantidad</label>
                            @Html.TextBoxFor(u => u.Cantidad, new { @class = "form-control", @placeholder = "Cantidad", @type = "text", @onkeypress = "return CheckNumericValue(event)", @required = "" })
                            @Html.ValidationMessageFor(u => u.Cantidad, "", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-4">
                            <label>Unid. Medida</label>
                            @Html.TextBoxFor(u => u.UnidadMedida, new { @class = "form-control", @placeholder = "Unidad de Medida", @type = "text", @readonly = "true" })
                            @Html.ValidationMessageFor(u => u.UnidadMedida, "", new { @style = "color:red;" })
                        </div>
                        @if (Model.IdTipoMovimientoInv == 1)
                        {
                            <div class="col-md-4">
                                <label>Fecha de Vencimiento</label>
                                <div class="input-group date">
                                    @Html.TextBoxFor(u => u.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control rol-accs", @placeholder = "Vencimiento", @type = "text", @readonly = "true" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    @Html.ValidationMessageFor(u => u.FechaFin, "", new { @style = "color:red;" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <label>Comentario</label>
                                @Html.TextBoxFor(u => u.Comentario, new { @class = "form-control", @placeholder = "Comentario", @type = "text" })
                                @Html.ValidationMessageFor(u => u.Comentario, "", new { @style = "color:red;" })
                            </div>
                        }
                    </div>
                </div>
                if (Model.IdTipoMovimientoInv == 1)
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Proveedor</label>
                                @*@Html.DropDownListFor(u => u.IdEntidadResponsable, new SelectList(ViewBag.lstProveedores, "IdEntidadResponsable", "Nombre", Model != null ? (Model.IdEntidadResponsable != 0 ? Model.IdEntidadResponsable : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })*@
                                <select class="col-xs-12 col-sm-12 col-md-12 no-padder miselect2_clear rol-accs"
                                        id="IdEntidadResponsable" name="IdEntidadResponsable">
                                    @{ var pEnt = Model != null ? Model.IdEntidadResponsable : 0;}
                                    <option value=""></option>
                                    @foreach (var nEnt in (List<EntidadResponsableDTO>)ViewBag.lstProveedores)
                                    {
                                        <option value="@nEnt.IdEntidadResponsable" @(nEnt.IdEntidadResponsable == pEnt ? "selected=selected" : "")>@nEnt.Nombre</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(u => u.IdEntidadResponsable, "", new { @style = "color:red;" })
                            </div>
                            <div class="col-md-4">
                                <label>Ubicación</label>
                                @*@Html.DropDownListFor(u => u.IdUbicacion, new SelectList(ViewBag.lstUbicaciones, "IdUbicacion", "Nombre", Model != null ? (Model.IdUbicacion != 0 ? Model.IdUbicacion : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })*@
                                <select class="col-xs-12 col-sm-12 col-md-12 no-padder miselect2_clear rol-accs"
                                        id="IdUbicacion" name="IdUbicacion">
                                    @{ var pUbi = Model != null ? Model.IdUbicacion : 0;}
                                    <option value=""></option>
                                    @foreach (var nUbi in (List<UbicacionDTO>)ViewBag.lstUbicaciones)
                                    {
                                        <option value="@nUbi.IdUbicacion" @(nUbi.IdUbicacion == pUbi ? "selected=selected" : "")>@nUbi.Nombre</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(u => u.IdUbicacion, "", new { @style = "color:red;" })
                            </div>
                            <div class="col-md-4">
                                <label>Comentario</label>
                                @Html.TextBoxFor(u => u.Comentario, new { @class = "form-control", @placeholder = "Comentario", @type = "text" })
                                @Html.ValidationMessageFor(u => u.Comentario, "", new { @style = "color:red;" })
                            </div>
                        </div>
                    </div>
                }
                <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Estado, new { @value = true, @type = "hidden" })
                        @Html.TextBoxFor(u => u.IdMovimientoInv, new { @value = Model.IdMovimientoInv != 0 ? Model.IdMovimientoInv.ToString() : "", @type = "hidden" })
                        @Html.TextBoxFor(u => u.IdTipoMovimientoInv, new { @value = Model.IdTipoMovimientoInv != 0 ? Model.IdTipoMovimientoInv.ToString() : "1", @type = "hidden" })
                        @Html.TextBoxFor(u => u.IdEmpresa, new { @value = Model.IdEmpresa, @type = "hidden" })
                        @Html.TextBoxFor(u => u.UsuarioCreacion, new { @value = Model != null ? Model.UsuarioCreacion.ToString() : "", @type = "hidden" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @{var btnName = (Model != null && Model.IdItem > 0) ? "Guardar Cambios" : "Crear";}
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-success">@btnName</button>
                                <a class="btn btn-default" href="@Url.Action("Inventarios" + tipoMovimiento, "Admin")">Cancelar</a>
                            </div>
                        </div>
                    </div>
                                }
        </div>
    </div>
</div>
