@{
    ViewBag.Title = "NubeBooks - Reportes"; 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/theme.css")
}
@section Scripts{
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.min.js")
    <script type="text/javascript">
        @{
            var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
            var userInfoJson = jss.Serialize(ViewBag.Categorias);
        }
        var mydata = JSON.parse('@Html.Raw(userInfoJson)');

        $(function () {
            $('#IdCategoria').select2({
                placeholder: "Seleccione una categoría",
                data: mydata,
                allowClear: true
            })

            $('.reporte').click(function () {
                this.href = GenerarReporte($(this).data("idreporte"));
            })
        });

        function GenerarReporte(nrep) {
            var FechaInicio = $("#FechaInicio").val().split("/");

            FechaInicio = FechaInicio[2] + "/" + FechaInicio[1] + "/" + FechaInicio[0];

            var FechaFin = $("#FechaFin").val().split("/");
            FechaFin = FechaFin[2] + "/" + FechaFin[1] + "/" + FechaFin[0];

            var jIdCategoria = $('#IdCategoria').select2("val");

            switch (nrep) {
                case 1:
                    return "/Admin/GenerarRep_AvanceDePresupuesto/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 2:
                    return "/Admin/GenerarRep_FacturacionPorAreas/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 3:
                    return "/Admin/GenerarRep_IngresosEgresosPorAreas/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 4:
                    return "/Admin/GenerarRep_FacturacionPorCliente/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 5:
                    return "/Admin/GenerarRep_GastosPorProveedor/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 6:
                    return "/Admin/GenerarRep_FacturacionPorVendedor/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 7:
                    return "/Admin/GenerarRep_DocumentosIngresoYEgresoPagadosYPorCobrar/?IdTipoComprobante=" + 1 + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 8:
                    return "/Admin/GenerarRep_DocumentosIngresoYEgresoPagadosYPorCobrar/?IdTipoComprobante=" + 2 + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 9:
                    return "/Admin/GenerarRep_DetalleIngresosYGastosPorPartidaDePresupuesto/?IdCategoria=" + jIdCategoria + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 10:
                    return "/Admin/GenerarRep_EgresosPorAreas/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
                case 11:
                    return "/Admin/GenerarRep_FacturacionPorHonorarios/?FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                    break;
            }
        }
    </script>
}
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Reporte</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 text-right" for="FechaInicio" style="transform:translateY(30%)">Fecha Inicio:</label>
                        <div class="col-md-8">
                            @Html.TextBox("FechaInicio", new DateTime(DateTime.Now.Year, 1, 1), "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de inicio", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 text-right" for="FechaFin" style="transform:translateY(30%)">Fecha Fin:</label>
                        <div class="col-md-8">
                            @Html.TextBox("FechaFin", new DateTime(DateTime.Now.Year, 12, 31), "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de fin", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Avance de Presupuesto </label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="1">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label class="col-md-3 text-center">Partida de Presupuesto</label>
                        @Html.TextBox("IdCategoria", "", new { @class = "col-xs-6 col-sm-6 col-md-6 no-padder" })
                        <div class="col-md-3 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="9">Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Ingresos y Egresos por Áreas </label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="3">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Ingresos por Áreas - Clientes</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="2">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Egresos por Áreas - Proveedores</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="10">Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Ingresos por clientes</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="4">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Gastos por proveedores</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="5">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Ingresos por consultores</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="6">Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Facturación por Modalidad de Pago</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="11">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Status de Pago de Doc. de Ingresos</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="7">Generar Reporte</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6 text-center">Status de Pago de Doc. de Egresos</label>
                        <div class="col-md-6 text-center">
                            <a class="btn btn-sm btn-success reporte" data-idreporte="8">Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>