@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IList<NubeBooks.Core.DTO.ResponsableDTO>
@section Styles{
    @Styles.Render("~/Content/themes/admin/js/datatables/css/dataTables.jqueryui.min.css")
    @Styles.Render("~/Content/themes/admin/js/datatables/datatables.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/themes/admin/js/datatables/languageConf.js")
    <script type="text/javascript">
        $(function () {
            $('.dataTable').DataTable();
        });
    </script>
}
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Consultores</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        <header class="panel-heading">
                            <div class="row text-sm">
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-sm btn-success pull-right" href="@Url.Action("Responsable")"><i class="fa fa-plus"></i> Crear nuevo Consultor</a>
                                </div>
                            </div>
                        </header>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none dataTable no-footer">
                            <thead>
                                <tr>
                                    <th width="25%">Nombre</th>
                                    <th class="text-center" width="45%">Descripción</th>
                                    <th class="text-center" width="20%">Estado</th>
                                    <th class="text-center" width="10%">Opc.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var obj in Model)
                                    {
                                        var classInactive = (ViewBag.EsAdmin && !obj.Estado) ? "class='inactive'" : "";
                                        <tr @Html.Raw(classInactive)>
                                            <td width="25%">@obj.Nombre</td>
                                            <td class="text-center" width="45%">@obj.Descripcion</td>
                                            @if (obj.Estado == true)
                                            {
                                                <td class="text-center" width="20%">Activo</td>}
                                            else
                                            {
                                                <td class="text-center" width="20%">Inactivo</td>}
                                            @if (ViewBag.EsAdmin)
                                            {
                                                <td align="center"><a href="@Url.Action("Responsable", new { id = obj.IdResponsable })"><i class="fa fa-pencil"></i></a></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>